@import "tailwindcss";

/* * {
  font-family: sans-serif;
} */

@theme {
  --color-primary: dodgerblue;
  --color-primary-300: #de9a34;
  --color-primary-500: #de9a34;
  --color-secondary: blue;
  --color-cover: white;
  --color-textColor: black;
  --color-secondary-500: green;
  --color-secondary-300: oklch(62.3% 0.214 259.815);
  --color-secondary-400: oklch(54.6% 0.245 262.881);
  --color-tertiary-500: #7f4cef;
  --color-tertiary-300: #f3e9ff;
  --color-tertiary-600: #be1d3e;
  --color-tertiary-400: purple;
  --color-soft: rgb(220, 216, 216);
  --color-load: gray;
}

body {
  /* @apply flex flex-col items-center; */
  /* color: rgba(128, 0, 128, 0.322); */
  font-family: sans-serif;
  background: rgb(241, 241, 242);
  /* background-color: #1d1d1f; */
  @apply text-textColor;
}

h2 {
  @apply text-2xl font-bold;
}
h3 {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: -2px;
}

.primary {
  @apply text-white bg-primary cursor-pointer;
}
